<section class='logout-section'>
	<div class='hero-body'>
		<div class='container'>
			<div class='columns is-centered'>
				<div class='column is-5-tablet is-4-desktop is-3-widescreen'>
					<form onsubmit='return false' class='box'>
							<button id='btnLogin' class='button is-success'>
								Logout
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>