<div id='map-section' class='columns'>
	<div
		style='height: 600px'
		id='mapContainer'
		class='column is-four-fifths'
	></div>
	<div id='shop-list' style='height: 600px' class='panel column'>
		<p class='panel-heading'>Find a coffee shop:</p>
		<button
			id='btnResetView'
			class='button is-small is-success is-light is-fullwidth'
		>
			<span class='icon'><i class='fas fa-sync'></i></span><span>Reset Map View</span>
		</button>
		<div id='shopbtnsList' style='height: 475px; overflow: scroll'></div>
	</div>
</div>
<div id='directions' class='container'>
	<div class='columns has-text-white'>
		<div class='column'>
			<div class='field'>
				<label for='inputAddress' class='columns has-text-white'>Enter your
					Address:</label>
				<div class='control'>
					<input
						id='userAddress'
						type='text'
						class='input'
						placeholder='1100 Congress Ave, Austin, TX 78701'
						required='required'
					/>
				</div>
			</div>
			<div class='field'>
				<label for='selectCoffeeShop' class='columns has-text-white'>Select
					Coffee Shop</label>
				<div class='control'>
					<div class='select is-primary is-rounded'>
						<select id='directionsSelect'></select>
					</div>
				</div>
			</div>
			<div class='field is-grouped'>
				<div class='control'>
					<input
						id='directionSubmit'
						type='submit'
						class='button'
						value='Submit'
					/>
				</div>
				<div class='control'>
					<button id='viewReset' class='button'>Reset</button>
				</div>
			</div>
		</div>
		<div id='outputDirections' class='column'>

		</div>
	</div>

</div>
<div id='addressError' class='modal'>
	<div class='modal-background'></div>
	<div class='modal-card'>
		<header class='modal-card-head'>
			<p class='modal-card-title'>Error :(</p>
			<button id='addressErrorClose' class='delete' aria-label='close'></button>
		</header>
		<section class='modal-card-body'>
			<p class='has-text-danger'>Please ensure that you entered a correct
				address</p>
		</section>
	</div>
</div>