<section class='login-section'>
	<div class='hero-body'>
		<div class='container'>
			<div class='columns is-centered'>
				<div class='column is-5-tablet is-4-desktop is-3-widescreen'>
					<form onsubmit='return false' class='box'>
						<div class='field'>
							<label for='' class='label has-text-dark'>Coffee Shop</label>
							<div class='control has-icons-left'>
								<input
									id='coffeeShop'
									type='text'
									placeholder='Epoch - The Village'
									class='input'
									required
								/>
							</div>
						</div>
						<div class='field'>
							<label for='' class='label has-text-dark'>Rating</label>
							<div class='star-input'>
								<input type='radio' name='rating' id='5' />
								<label for='5' class='fas fa-star'></label>
								<input type='radio' name='rating' id='4' />
								<label for='4' class='fas fa-star'></label>
								<input type='radio' name='rating' id='3' />
								<label for='3' class='fas fa-star'></label>
								<input type='radio' name='rating' id='2' />
								<label for='2' class='fas fa-star'></label>
								<input type='radio' name='rating' id='1' />
								<label for='1' class='fas fa-star'></label>

							</div>
						</div>
						<div class='field'>
							<label for='' class='label has-text-dark'>Anything you'd like to
								say?</label>
							<div class='control has-icons-left'>
								<textarea
									class='textarea'
									placeholder='The coffee was great!'
								></textarea>
							</div>
						</div>
						<div class='field'>
							<button id='btnRegister' class='button is-success' type='submit'>
								Register
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>