<section>
	<div class='container'>
		<div class='is-flex is-justify-content-center'>
			<h2 class='title has-text-white'>Latest Reviews</h2>
		</div>

		<div id='review-section' class='columns'></div>
	</div>
	<div class='container'>
		<div class='is-flex is-justify-content-center'>
			<h2 class='title has-text-white'>Search Reviews</h2>
		</div>
		<div id='review-section'>
			<div class='field'>
				<p class='control is-expanded has-icons-right'>
					<input
						id='reviewSearch'
						class='input'
						type='search'
						placeholder='Search Reviews by Coffee Shop'
					/>
					<span class='icon is-small is-right'><i
							class='fas fa-search'
						></i></span>
				</p>
			</div>
			<div id='search-review-section'>

			</div>
		</div>
		<br /><br />
		<div class='is-flex is-justify-content-center'>
			<h2 class='title has-text-white'>Post a Review</h2>
        </div>
			<div id='post-review-section'>
				<a href='/post' class='button'>Post Review!</a>
			</div>
		</div>
	</div>
</section>